*{
  box-sizing: border-box;

}

body{
  background: #293236;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}
.container{
  max-width: 600px;
  margin: 100px auto;
  background: #0e0f0e;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}

.btn{
  font-size: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: blueviolet;
  margin: 5px;
}
.btn:hover{
  opacity: .8;
}
#userScore{
  color: green;

}
#ComputerScore{
  color: red;
}